<main>
    <a href="<%= user_path(@user) %>"></a>
    <button id="back-btn">-</button>

    <h1>Create a New Post</h1>
    <%= form_with model: [@user, @post], local: true do |form| %>   
        <div class="field">
            <%= form.label :title %>
            <%= formf.text_field :title %>
        </div>

        <div class="field">
            <%= form.label :text %>
            <%= formf.text_field :text %>
        </div>

        <div class="actions">
            <%= form.submit 'Create Post' %>
        </div>
    <%= end %>
</main>